
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color:white;
  background-color: black;
  
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  
  font-family: 'VT323', monospace;
  font-size: 2.5em;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */
#space-invader-logo{
  width: 900px;
  height: 300x;
}
.header{
  display: flex;
  flex-wrap: flex-no-wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width:100%;
}
/*
.header div{
}
*/
.footer{
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.splash-screen{
  text-align: center;
  
}
.game-screen {
  width: 100%; /*70vw;*/
  height: 85vh;
  border-style: solid;
  border-color: white;
  
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}  
 
